.container {
  margin: auto;
  max-width: 80%;
  font-family: sans-serif; 
  background-color: #fff;
}

.heading {
  color: rebeccapurple;
  
}
.nav-links {
  display: flex;
  list-style: none;
  padding-left: 0;
}
.nav-link-item {
  padding: 0 1.2rem;
}
.nav-link-text {
  text-transform: uppercase;
  color: black;
  font-size: 11px;
  text-decoration: none;
  font-family: "ITC Avant Garde Gothic W01 Bd", sans-serif;
  font-weight: 900;
  padding: 30px 0;
}
.image-vita{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 10%;
}
